@charset "utf-8";
.container-fluid .container h2 {
	color: rgba(255,255,255,1.00);
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
}
.row .col-lg-4 p {
	color: rgba(255,255,255,1.00);
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-size: x-large;
}
.container-fluid .container p {
	color: rgba(255,255,255,1.00);
}
